# This workflow is set to look at all the links in the README.md every six months. If there are any links that spit out a 404 or other error, it will get listed in the Links workflow summary, and the badge on the README will state whether it's "passing" or "failing".

# If it is failing, you will need to access the latest Links action that was ran, remove/replace any links that return an error, and then manually run the workflow again.

name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 */6 *" # Runs every 6 months.

jobs:
  linkChecker:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Links
        id: lychee
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          fail: true
          args: --verbose --no-progress './**/README.md' --exclude itch.io --exclude patreon.com --exclude reddit.com --exclude medium.com --exclude steamdb.info --max-concurrency 1
